:global(.ant-pagination) {
    padding-right: 20px;
}

.searchInput {
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.searchButton {
    width: 90px;
}

.highlight {
    background-color: #ffc069;
    padding: 0;
}

.createButton {
    margin: 20px 16px;
}
