.user {
    display: inline-flex;
    float: right;
    margin-left: auto;
    align-items: center;
}

.user *:not(:last-child) {
    margin-right: 10px;
}

.editorButton {
    width: 180px;
    margin-left: 20px;
}
