.groups {
    padding: 20px;
}

.studentsAndTasks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.studentsAndTasks > * {
    padding: 0 40px;
}

.studentsAndTasks > *:not(:last-child) {
    border-right: 1px solid #f0f0f0;
}

.subHeader {
    display: flex;
}

.subHeader *:not(:last-child),
.footer *:not(:last-child) {
    margin-right: 20px;
}

.footer {
    display: flex;
}
