:global(.ant-pagination) {
    padding-right: 20px;
}

.monitorPage {
    display: flex;
}

.searchInput {
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.searchButton {
    width: 90px;
}

.highlight {
    background-color: #ffc069;
    padding: 0;
}

.status {
    display: flex;
    align-items: center;
}

.running {
    color: blue;
}

.stopped,
.ce,
.re,
.tle,
.wa {
    color: red;
}

.ok {
    color: green;
}

.status > *:not(:last-child) {
    margin-top: 20px;
    margin-right: 10px;
}
